.tile--app-collabco-banner.tile--tpl-banner .tile__inner {
  padding: 0 !important;
}
.tile--app-collabco-banner.tile--tpl-banner .tile__item {
  padding: 0;
  overflow: hidden;
}
.tile--app-collabco-banner.tile--tpl-banner .tile__item {
  position: relative;
}
.tile--app-collabco-banner.tile--tpl-banner .tile__item-preview {
  background-position: center !important;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.tile--app-collabco-banner.tile--tpl-banner .tile__item .bannerLink {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: none;
  z-index: 2;
}
.tile--app-collabco-banner.tile--tpl-banner .tile__item .bannerLink:hover {
  background: none;
}
.tile--app-collabco-banner.tile--tpl-banner .tile__container-image {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  max-height: 75%;
}